@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    * {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        transition: background-color 200ms linear;
    }

    body, html {
        height: 100%;
        transition: display 200ms linear;
    }

    .bg {
        /* The image used */
        background: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
        ), url("bg.jpg");

        /* Full height */
        height: 100vh;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-title {
        position: relative;
        text-align: center;
        float: right;
        clear: right;
        left: 0;
        right: 0;
    }

    .section-title::after {
        content: "";
        position: absolute;
        border-top: 1px solid black;
        left: 35%;
        bottom: 0;
        width: 30%;
        height: 0px;
    }
}