@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    * {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        transition: background-color 200ms linear;
    }

    body, html {
        height: 100%;
    }

    .bg {
        /* The image used */
        background: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
        ), url("bg.jpg");

        /* Full height */
        height: 100vh;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}